body{
 background-color: #fffbf0;
}
.menu-bar{
  background-color: #e4ddf4;
}
.menu-button{
  background-color: #e4ddf4;
}
.greeting{
  padding: 6px;
  margin : 10px;
  border-radius:  4px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #b3c6ff;
}
